{% extends 'base.html'%}
{% block title %} Week 2 Weekly Status Update {% endblock %}
{% block header %}Week 2 Weekly Status Update {% endblock %}


{% block content %}
<h2>What did you do last week?</h2>
<ul>
    <li>Researched which backend backend languages are commonly used in industry</li>
    <ul><li>I came to the conclusion that C++ will be my choice to dive into sense it is closely related to C and C# (another more common backend language) as well as being the more challenging to master of the 3</li></ul>
    <ul><li>The idea of a lower level language that gives me more control over memory and speed is something that interests me </li></ul>
    <ul><li>From what I hear, if you can truly understand C++ you can learn C#</li></ul>
    <li>I bought a book named "A tour of C++" by the creator of C++ Bjarne Stroustrup</li>
    <ul><li>Read about 2 chapters</li></ul>
    <ul><li>Plan on finishing the book by the end of the month</li></ul>
    <li>Researched what open source projectS that are based in C++</li>
    <ul><li>This is a current work in progress and I don't plan on trying to contribute until later in the semester after I've finished the C++ book and practiced a good amount of LeetCode problems</li></ul>
    <li>Created a LeetCode account</li>
    <ul><li>Plan using this to brush up knowledge of data structures and algorithms while also practicing C++ and eventually C#</li></ul>
    <li>Set up GitHub Repo</li>
</ul>
<h2>What do you plan to do this week?</h2>
<ul>
    <li>Read another 2-3 chapters of A tour of C++</li>
    <li>Practice 5-10 LeetCode problems</li>
    <li>CContinue Research of open source projects/frameworks for C++</li>
    <li>Attend meeting for a extracurricular group that will work to build a project together</li>
</ul>
<h2>Are there any impediments in your way?</h2>
<ul>
    <li>Time is my biggest impediment considering my job hours are always variable</li>
    <li>I've struggled to translate what I've learned in the book I'm reading to actual development</li>
</ul>
<h2>Reflection on the process you used last week, how can you make the process work better?</h2>
<ul>
    <li>Build a weekly schedule that will help keep track of where I spend my time on different pursuits</li>
    <ul><li>If I know ahead of time that I have a lot of work to do at my job ahead of time I will try to get some school work done in the mornings</li></ul>
    <li>I need to spend more time working through LeetCode in order to practice what I'm learning from the book</li>
</ul>
{% endblock %}