{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block header %} Welcome to Carlos Garcia's CSPB-3112 Website {% endblock %}

{% block content %}
    <div>
        <table width="1000px" border="1px">
            <tr>
                <th> Week </th>
                <th> Link to the Status Update </th>
            </tr>
            <tr>
                <td>Week 2 (September 2 - September 8)</td>
                <td><a href="Week_2">Week 2 Status</a></td>
            </tr>
            <tr>
                <td>Week 3 (September 9 - September 15)</td>
                <td><a href="Week_3">Week 3 Status</a></td>
            </tr>
            <tr>
                <td>Week 4 (September 16 - September 22)</td>
                <td><a href="Week_4">Week 4 Status</a></td>
            </tr>
            <tr>
                <td>Week 5 (September 23 - September 29</td>
                <td><a href="Week_5">Week 5 Status</a></td>
            </tr>
            <tr>
                <td>Week 6 (September 30 - October 6)</td>
                <td><a href="Week_6">Week 6 Status</a></td>
            </tr>
            <tr>
                <td>Week 7 (October 7 - October 13)</td>
                <td><a href="Week_7">Week 7 Status</a></td>
            </tr>
            <tr>
                <td>Week 8 (October 14 - October 20)</td>
                <td><a href="Week_8">Week 8 Status</a></td>
            </tr>
            <tr>
                <td>Week 10 (October 28 - November 3)</td>
                <td><a href="Week_10">Week 10 Status</a></td>
            </tr>
            <tr>
                <td>Week 11 (November 4 - Nov 10)</td>
                <td><a href="Week_11">Week 11 Status</a></td>
            </tr>
            <tr>
                <td>Week 12 (November 11 - November 17)</td>
                <td><a href="Week_12">Week 12 Status</a></td>
            </tr>
            <tr>
                <td>Week 13 (November 18 - November 24)</td>
                <td><a href="Week_13">Week 13 Status</a></td>
            </tr>
            <tr>
                <td>Week 14 (December 2 - December 8)</td>
                <td><a href="Week_14">Week 14 Status</a></td>
            </tr>
            <tr>
                <td>Week 15 (December 9 - December 15)</td>
                <td><a href="Week_15">Week 15 Status</a></td>
            </tr>
        </table>
    </div>
{% endblock %}