{% extends 'base.html'%}
{% block title %} Project Proposal {% endblock %}
{% block header %} Project Proposal  {% endblock %}


{% block content %}
<h2>Vision statement:</h2>
<p>To garner advanced knowledge of C++ in order to improve my ability to better understand the relationship between hardware and systems, prep for back-end developer interviews, and lay the ground work to write effective programs in C# (related to C++).</p>

<h2>Motivation:</h2>
<p>C# is one of the most common languages used in back-end development. That being said I want to better understand lower level concepts of computing and C++ is one of the better languages for this while also being closely related to C#. At the same time I would like to also prep for technical interviews for back-end developer roles.</p>
<p>At a high level, my long term goal is to be able to display and showcase effective solutions as well as an understanding of how my programs work in interviews and potentially a back-end roles heavily dependent on C# (or even C++). Its been said that if you can become proficient in C++ you can become proficient with just about any language or framework.</p>

<h2>Risks to project completion: </h2>
    <li>Limited amount of time in certain weeks because of my job</li>
    <li>Spending to much time understanding the book “a Tour of C++” instead of working through what I’ve learned</li>
    <li>Beginner level understanding of C++</li>
    <li>Spending too much time on one leet code problem</li>
    <li>The "Pan Out" project I'm taking part in is dependent on blockchain technology. This is something I'm not too familiar with.</li>

<h2>Mitigation Strategy for the risks listed:</h2>
    <li>Keep planning my weekly schedule and schedule buffer days for when needed</li>
    <li>Setting a goal to finish the book by a set time</li>
    <li>Setting a goal for 3-5 leet code questions a day and, if 1 isn’t solved by the end of the day, it is time to review a solution, take note of it, and move on to another question.</li>
    <li>Having a deadline to begin attempting to contribute to an open source project</li>

<h2>Project Assessments:</h2>
    <li>Have a written reflection of what I’ve learned from a “Tour of C++” by Bjarne Stroustrup and how it better my understanding of the language by the end of Week 8</li>
    <li>I would like to have 75-125 C++ questions in Leetcode completed each month</li>
    <ul><li>Will link my leet code account to my weekly status updates</li></ul>
    <li>Contribute to my weekly status updates regarding the "Pan Out" project dexpress</li>
    <ul><li>I can add the project to my git repo to show progress</li></ul>

<h2><a href="https://github.com/caga5719/CPPandCSharp_UpSkilling">Project portfolio link</a></h2>

{% endblock %}
