{% extends 'base.html'%}
{% block title %} Week 7 Weekly Status Update {% endblock %}
{% block header %}Week 7 Weekly Status Update {% endblock %}


{% block content %}
<h2>What did you do last week?</h2>
    <ul>
        <li>I brushed up on static arrays, dynamic arrays, stacks, and singly linked lists using the Neetcode DSA course</li>
        <ul>
            <li>Completed 7 leetcode questions relating to these data structures</li>
        </ul>
        <li>Read 1 more chapter of "C++: A Tour"</li>
        <li>Updated my resume after career services meeting</li>
        <ul>
            <li>Also updated my LinkedIn</li>
        </ul>
        <li>Brushed up on static vs dynamic memory and practiced using and deleting pointers</li>
    </ul>

    <h2>What do you plan to do this week?</h2>
    <ul>
        <li>Complete my book "A Tour of C++"</li>
        <li>Complete more sections in the Neetcode DSA</li>
        <ul>
            <li>Practice more leetcode questions pertaining to the DSA course I've completed</li>
        </ul>
        <li>Meet with my project group</li>
    </ul>

    <h2>Are there any impediments in your way?</h2>
    <p>Not really. Things are going well.</p>

    <h2>Reflection on the process you used last week, how can you make the process work better?</h2>
    <p>It was nice to dedicate a Tuesday afternoon to just submit more internship applications, and I will keep selecting an afternoon every week to keep doing so.</p>
{% endblock %}