{% extends 'base.html'%}
{% block title %} Week 15 Weekly Status Update {% endblock %}
{% block header %}Week 15 Weekly Status Update {% endblock %}


{% block content %}
<h2>What I did last week:</h2>
    <ul>
        <li>I worked on my writing up my report and putting together my bibliography</li>
        <li>Updated my website to be up to date with my weekly status'</li>
        <li>Didn't have too much extra time to work on Leetcode and my Neetcode.io course as I spent 2 afternoons/nights on 2 production issues at work. This caused me to spend extra afternoons finishing stories as I was falling behind on those and needed to have them done before our code freeze on Friday. Some of these stories I'm working on this very night. Nonetheless work was more hectic than I expected which, ironically enough, I should've seen coming given bugs or last minute requirements always get thrown my team's way before the code freeze. I just hope that we don't have any productions issues during our code freeze. Last year us "on calls" had to reach out to our squad lead and chapter lead to have them join a zoom for a bug we didn't create while they were both on vacation. Good times! This year will be different though!</li>
    </ul>

    <h2>What I plan to do this week:</h2>
    <ul>
        <li>Wrap up my project report.</li>
        <li>Work to finish Neetcode.io course</li>
    </ul>

    <h2>Impediment(s) in my way:</h2>
    <li>Work but I feel like the code freeze Friday should end all this chaos. Hopefully not jinxing myself here.</li>

    <h2>Reflections on the process I used last week:</h2>
    <li>Nothing much as I feel factors out of my control ended up impacting my progress towards finishing the Neetcode.io this week.</li>
{% endblock %}
