{% extends 'base.html'%}
{% block title %} Week 13 Weekly Status Update {% endblock %}
{% block header %}Week 13 Weekly Status Update {% endblock %}


{% block content %}
<h2>What I did last week:</h2>
    <ul>
        <li>Completed Neetecode lessons on Quick Sort, Bucket Sort, and Binary Search</li>
        <ul>
            <li>Completed 4 leetcode problems related to these questions</li>
        </ul>
        <li>Started looking into a friend's codebase for a social media site</li>
        <li>Wrapped up writing my book summary for "A tour of C++" </li>

    </ul>

    <h2>What I plan to do this week:</h2>
    <ul>
        <li>Focusing on getting as many Neetcode lessons in Data Structures and Algorithms course as I can. it would be nice to finish the course before the end of the semesters. So far there are 17 done and 17 left (there are 34 total). Dynamic programming is lessons 32 and 33 so I'm a little intimidated to go back and brush up on that topic after what I experienced in Algorithms.</li>
    </ul>

    <h2>Impediment(s) in my way:</h2>
    <li>I've finished most of the stories at my job that needed to be finished before our code freeze December 16th. Work shouldn't be much more of an issue anymore and I should have more open afternoons.
    </li>

    <h2>Reflections on the process I used last week:</h2>
    <li>Nothing much as of now. I'm keeping to my schedule and consistently planning out my week before it starts.</li>
{% endblock %}