{% extends 'base.html'%}
{% block title %} Week 6 Weekly Status Update {% endblock %}
{% block header %}Week 6 Weekly Status Update {% endblock %}


{% block content %}
<h2>What I did last week:</h2>
    <ul>
        <li>Attended 2 networking events</li>
        <li>Researched what tools and software exist for my Pan Out group to implement blockchain functionality in our file sharing application</li>
        <ul>
            <li>Creating a blockchain from scratch is most certainly out of the question</li>
        </ul>
        <li>Completed 5 leetcode questions</li>
        <ul>
            <li>Ended up buying Neetcode's training program to help me upskill in some data structures and algorithms I haven't worked with in a while as I noticed I was rusty in quite a bit of data structures</li>
        </ul>
        <li>Applied to 15 internships</li>
        <li>Read 1 more chapter of "A tour of C++"</li>
    </ul>

    <h2>What I plan to do this week:</h2>
    <ul>
        <li>As I've progressed more in my internship application process I've noticed that simply applying and going to networking events may still not be enough</li>
        <ul>
            <li>I'm going to try cold messaging recruiters and see if this helps at all. Inevitably this will require more time to be put into applying.</li>
        </ul>
        <li>Complete more Leetcode questions (C++) and practice different sorting algorithms (i.e. binary sort, merge sort) and some other recursion algorithms until I feel like I truly understand them and know when I can implement them in leetcode questions</li>
        <ul>
            <li>The beauty of Neetcode's course is that it also links to leetcode questions to complete after working through a specific data structure and algorithm. I will continue doing these questions as well.</li>
        </ul>
        <li>Read 1-2 more chapters of "A tour of C++"</li>
    </ul>

    <h2>Impediment(s) in my way:</h2>
    <li>So far I've been able to manage my time pretty well between applying for jobs and upskilling myself. I will say I need to make sure I don't get too carried away in the application process and spend all my time just applying. I'm fully prepared to focus more on applying next semester once I know I can hold my own in a technical interview.</li>

    <h2>Reflections on the process I used last week:</h2>
    <li>It was nice to have multiple networking events in 2 days instead of spread through the week. As the networking events likely slow down for the rest of the year going, I will start planning specific days for applying to more jobs vs upskilling in leetcode, C++, or working on my project.</li>
{% endblock %}