{% extends 'base.html'%}
{% block title %} Week 5 Weekly Status Update {% endblock %}
{% block header %}Week 5 Weekly Status Update {% endblock %}


{% block content %}
<h2>What did you do last week?</h2>
<ul>
    <li>Continued Reading "C++ a tour" have about 4 chapters left</li>
    <li>Worked on finishing up my website</li>
    <li>Attended 2 networking events on campus</li>
    <li>Meet with my "Pan Out" team to discuss MVP of Dexpress</li>
</ul>
<h2>What do you plan to do this week?</h2>
<ul>
    <li>Pick up where I left off in my leet code practice</li>
    <li>Wrap up my website</li>
    <li>Attend 2 more networking events</li>
    <li>Research more about what MVP 1 of Dexpress would look like</li>
    <li>Wrap up my book reading</li>
    <li>Attend a career center appointment to look at my resume</li>
    <li>Apply for internship positions from the networking events I've attended.</li>
</ul>
<h2>Are there any impediments in your way?</h2>
    <li>Networking events, applications, and interviews (hopefully/potentially) will take time away from my project</li>
<h2>Reflection on the process you used last week, how can you make the process work better?</h2>
<ul>
    <li>I need to try and see if I can attend networking events all on the same day or virtually to save time commuting at the very least </li>
</ul>
{% endblock %}