{% extends 'base.html'%}
{% block title %} Week 11 Weekly Status Update {% endblock %}
{% block header %}Week 11 Weekly Status Update {% endblock %}


{% block content %}
<h2>What I did last week:</h2>
    <ul>
        <li>Practically nothing in terms of working towards my goals but I did learn quite a bit</li>
        <ul>
            <li>To elaborate my laptop uses the Ubuntu Linux distro and I tried to update to the latest version 24.04.1 at the airport before getting on a flight for a wedding. Long story short my the update did not finish before I got on the plane (100% my fault) and for the last week I was unable to boot up my computer past the Ubuntu loading screen. I spent quite a bit of time learning about the Linux boot process, Advanced Configuration and Power Interface (ACPI) errors, and how to troubleshoot boot issues.  After quite a bit of research, trial and error I gave up trying to salvage the Ubuntu update and decided to install a completely different more beginner friendly Linux distro (Linux Mint). As of Thursday morning I can say my laptop is working again!</li>
        </ul>
    </ul>

    <h2>What I plan to do this week:</h2>
    <ul>
        <li>Pick back up on writing my summary of a "tour of C++"</li>
        <li>Do more research on eth networks we can use to transfer files for "Pan Out" project</li>
        <li>Continue brushing up on Data Structures and Algorithms</li>
        <li>Try and complete more leet code questions</li>
        
    </ul>

    <h2>Impediment(s) in my way:</h2>
    <li>From here until the last week of November my weekends will be booked up for the most part. I need to keep emphasizing my pre-weekly planning and sticking to it. There is also a need to make sure most of my work is completed during the week.</li>

    <h2>Reflections on the process I used last week:</h2>
    <li>DO NOT UPDATE YOUR COMPUTER RIGHT BEFORE GETTING ON AN AIRPLANE!</li>
{% endblock %}