{% extends 'base.html'%}
{% block title %} Week 3 Weekly Status Update {% endblock %}
{% block header %}Week 3 Weekly Status Update {% endblock %}


{% block content %}
<h2>What did you do last week?</h2>
<ul>
    <li>Researched into the documentation of Boost C++ library</li>
    <ul><li>Looked into its recent releases</li></ul>
    <ul><li>This will be the open source project I would like to try and contribute to while in school</li></ul>
    <ul><li>Came to the conclusion I would build a scientific calculator utilizing this library given my passion for math.</li></ul>
</ul>
<h2>What do you plan to do this week?</h2>
<ul>
    <li>Catch back up on Leet Code problems</li>
    <ul><li>Finish 20-25 C++ leetcode problems</li></ul>
    <ul><li>Read at least 2-3 more chapters of “A Tour of C++”</li></ul>
    <ul><li>Read into more documentation of the boost C++ library</li></ul>
    <ul><li>Build out my Website</li></ul>
</ul>
<h2>Are there any impediments in your way?</h2>
<ul>
    <li>Working in a pseudo developer/business analyst role with my company’s performance year ending Sept 30., the rush to meet deadlines and complete our year end deliverables is bleeding more than ever into my free time.</li>
    <ul><li>Planning my week in advance has helped here and allowed me to not feel as rushed or stressed to complete my course work at the last minute. Time is still limited, however, the silver lining is our code freeze is next Wednesday.</li></ul>
    <li>There is a tendency to get carried away with building websites if it doesn't look the way I imagined. Due to this there will be an emphasis on remembering the site's purpose.</li>
</ul>
<h2>Reflection on the process you used last week, how can you make the process work better?</h2>
<ul>
    <li>Allow more buffer time in my weekly schedule</li>
    <li>If need be don’t spend as much time reading my book and allocate more time to completing leetcode problems if time is severely limited.</li>
</ul>
{% endblock %}