{% extends 'base.html'%}
{% block title %} Week 10 Weekly Status Update {% endblock %}
{% block header %}Week =10 Weekly Status Update {% endblock %}


{% block content %}
<h2>What did you do last week?</h2>
    <ul>
        <li>RI completed NeetCode courses over Recursion Algorithms and Queue Data Structures</li>
        <li>Completed 6 LeetCode Questions</li>
        <li>Finished my reading my book "A Tour of C++"</li>
        <li>Researched how static and dynamic arrays are stored in memory</li>
        <li>Learned more about pre-processing, compiling, and linking in regards to building C++ files</li>
    </ul>

    <h2>What do you plan to do this week?</h2>
    <ul>
        <li>Continue DSA course on Neetcode</li>
        <li>Try to finish 3-8 leetcode question</li>
        <li>Start writing book review on "A tour of C++"</li>
        <li>Contribute to my Pan Out group's project</li>
    </ul>

    <h2>Are there any impediments in your way?</h2>
    <p>This weekend and the next 2 I will be out of town. I really need to stick to my process of planning out my week and allocating time to the most important tasks to accomplish my goals.</p>

    <h2>Reflection on the process you used last week, how can you make the process work better?</h2>
    <p>I have a routine now that I can confidently say that works well.</p>
{% endblock %}