{% extends 'base.html'%}
{% block title %} Week 8 Weekly Status Update {% endblock %}
{% block header %}Week 8 Weekly Status Update {% endblock %}


{% block content %}
<h2>What did you do last week?</h2>
    <ul>
        <li>Refreshed myself on Linked and Doubly Linked Lists data structures</li>
        <ul>
            <li>Completed 3 leetcode questions for these topics</li>
        </ul>
        <li>Completed a LinkedIn Learning course on Time Blocking</li>
        <li>Researched and practiced the following C++ features:
            <ul>
                <li>Headers and Implementation files</li>
                <li>g++ compiler</li>
                <li>C++ linker</li>
                <li>Static variables</li>
                <li>Member initializer list</li>
                <li>C++ class and function templates as well as their purpose</li>
                <li>Dug further into use cases for heap and stack memory</li>
            </ul>
        </li>
        <li>Ironically enough, I didn't make progress in my C++ book</li>
    </ul>

    <h2>What do you plan to do this week?</h2>
    <ul>
        <li>Complete at least 3 data structures lessons as well as practice (likely) 6 leetcode problems related to them</li>
        <li>Finish "A Tour of C++" (book)</li>
        <li>Meet with my Pan Out group</li>
    </ul>

    <h2>Are there any impediments in your way?</h2>
    <p>I feel like I have a good schedule and routine of doing things. I will say I need to focus more on completing the book I'm reading, but putting it on the back burner for interviews and filling out more applications seems like the right choice. I may have to wait until a week or two from now to pick it back up when the fall recruiting cycle calms down. I feel like completing applications and practicing leetcode is more important at this time.</p>

    <h2>Reflection on the process you used last week, how can you make the process work better?</h2>
    <p>I didn't really change my process from last week. That being said, I am going to try and implement some findings from the Time Blocking LinkedIn Learning course I completed.</p>
{% endblock %}